.footer {
    background: #E7ECFF;
}

.footer__context {
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.375rem;
    padding: 2.625rem 0;
}

.footer__higher-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer__title {
    color: #37447E;
    font-weight: 900;
    font-size: 1.625rem;
    margin: 0;
}

.footer__tag {
    font-weight: 500;
    font-size: 0.875rem;
    color: #939EA4;
}

.footer__rectangle {
    height: 1px;
    width: 100%;
    background: #CDD1D4;

}

.footer__button {
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    color: #FFFFFF;
    background: #111B47;
    border-radius: 0.125rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: auto;
    align-self: center;
    width: 6.8125rem;

}

.footer__nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 3.75rem;
}

.footer__nav li {
    
    color: #929ECC;
}

.footer__nav-item a, .footer__nav-item:visited a {

    color: #929ECC;

    text-decoration: none;


}

.footer__socials {
    display: flex;
    gap: 1.875rem;
}